/*Well, this is crap but if you want you can order this for me jjejejejeje*/
:root {
  --bg-extra-light: #1f2130;
  --bg-light: #161824;
  --border-light: #2b2d40;
  --bg-black: #070a12;
  --text: #ffff;
  --primary: #146ac4;
}

::-webkit-scrollbar-track {
  background: var(--bg-black) !important;
  height: 2px;
  padding: 10px !important;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  padding: 10px !important;
  background: var(--primary) !important;
  height: 5px !important;
  border-radius: 100px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 5px !important;
  border-radius: 100px;
}

div.pb-play-btns {
  margin-bottom: 0;
}

div.fdb-threads-pad {
  padding: 10px;
  color: var(--text) !important;
}
div.fdb-threads-pad .fdb-microblog-preview {
  color: var(--text) !important;
  background-color: transparent;
  border: 1px solid var(--border-light);
  margin-bottom: 20px;
}

.fdb-tab-row {
  border-bottom: 1px solid var(--border-light);
}

.fdb-main-container:nth-child(1) span {
  color: #ffffff !important;
}
.fdb-tab {
  border-radius: 5px;
  margin-right: 5px;
  background-color: #fff;
}

.fdb-text-subtle {
  color: #9196b5;
}
.fdb-main-container > div:nth-child(2) > div:nth-child(1) {
  background-color: transparent;
  margin-bottom: 0px;
}

.fdb-discover:nth-child(1) {
  margin-left: 50px;
  margin-right: 50px;
}
.fdb-center-content {
  background-color: var(--bg-black);
}
body > div:nth-child(4) {
  background-color: var(--bg-black);
}
.fdb-main-container {
  background-color: var(--bg-light);
}

/*DISCOVER Right main content*/
.fdb-discover:nth-child(3) {
  visibility: none;
  opacity: 0;
}

/*See more*/
a:nth-child(12) {
  display: flex;
  margin-left: 10px;
  justify-content: center !important;
  text-align: start;
  align-items: center;
  color: #ffff;
  text-shadow: none;
}
.fdb-discover:nth-child(1) {
  /* border: 1px solid #2c5272 ;*/
  border: none;
  display: flex;
  width: 10;
  flex-direction: column;
  padding-right: 0;
  background-color: var(--bg-extra-light);
  justify-content: start;
  align-items: start;
}
.fdb-discover:nth-child(1) h1 {
  border: 1px solid #2c5272;
  color: #ffff;
  height: 60px;
  width: 100%;
  background: linear-gradient(
    174deg,
    rgba(53, 154, 232, 1) 0%,
    rgba(32, 95, 212, 1) 100%
  );
  text-shadow: none;
  border-radius: 5px;
  display: flex;
  padding-left: 10px;
  justify-content: start;
  align-items: center;
}

.fdb-discover-account span {
  color: #ffffff;
  font-weight: 800;
  font-size: 14px;
  text-shadow: none;
}

.fdb-discover-account span:nth-child(2) {
  color: var(--text) !important;
  text-shadow: none;
  font-weight: 300;
}

.fdb-discover-account > img {
  outline: none;
  height: 40px;
  width: 40px;
  box-shadow: 0px 10px 20px #262a45;
}

.fdb-discover-account {
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
}
/* INDEX */
.fdb-index-box {
  background-color: var(--bg-extra-light);
  color: #c2c9ed !important;
  border: 2px solid var(--border-light) !important;
}
.fdb-index-box a {
  color: var(--primary) !important;
}
/* EPIC HEADER */
.fdb-header {
  justify-content: center;
  padding: 5px;
  color: #ffff;
  background: linear-gradient(
    174deg,
    rgba(53, 154, 232, 1) 0%,
    rgba(32, 95, 212, 1) 100%
  );

  /*background: linear-gradient(174deg,rgba(199, 80, 147, 1) 0%, rgba(154, 28, 166, 1) 100%);
  */
}

.fdb-header > div:nth-child(2) {
  flex-grow: 0.83 !important;
}

.fdb-thread-preview-header {
  background-color: transparent;
}
/* POSTS RECENT MAIN PAGE*/
.fdb-thread-preview {
  background-color: var(--bg-light);
  margin-top: 20px;
  border-radius: 2px;
  border: 1px solid var(--border-light) !important;
}
hr {
  opacity: 0.2;
}
.fdb-thread-preview > div > div {
  color: var(--text) !important;
  border-bottom: 1px solid var(--border-light) !important;
}
.pb-player {
  margin-bottom: 10px !important;
  overflow: hidden;
}

.fdb-threads-pad:nth-child(5) {
  background-color: var(--bg-light);
}

.fdb-main-container > div:nth-child(3) {
  background-color: var(--bg-light);
}
.fdb-main-container > div:nth-child(1) {
  background: var(--bg-extra-light);
  border-bottom: 1px solid var(--border-light);
  padding-bottom: 20px;
}

h1 {
  color: var(--text);
}

div div div,
span {
  color: var(--text);
}

.fdb-indent {
  background-color: var(--bg-extra-light);
}
.fdb-indent > div > div {
  color: #c2c9ed;
  border-bottom: 1px solid var(--border-light) !important;
}

.fdb-main-container
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(2)
  > div:nth-last-child()
  span {
  font-weight: 800;
  color: green !important;
}

.fdb-main-container > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) a {
  color: var(--primary);
}
.fdb-main-container > div:nth-child(1) > div:nth-child(2) {
  background-color: transparent;
}
a.noselect.fdb-tab {
  background-color: transparent;
}

span.noselect.fdb-tab-active {
  background-color: var(--bg-extra-light);
  border: none;
}

div.fdb-tab-row {
  background-color: var(--bg-light);
  padding-top: 10px;
}

div.noselect.fdb-tab,
span.noselect.fdb-tab {
  background-color: transparent;
}

div.fdb-mdedit-preview {
  background-color: var(--bg-light);
  border: none;
}

.fdb-main-container > div:nth-child(2) {
  background-color: transparent;
}

.fdb-microblog-preview {
  background-color: var(--bg-extra-light);
  border-bottom: 2px solid var(--border-light);
  padding: 10px;
}

div.noselect.fdb-tab-active {
  background-color: var(--bg-extra-light);
  border: none;
}

.fdb-main-container > div > div > div {
  border-bottom: 1px solid var(--border-light);
}
.fdb-main-container > div > div > div:nth-child(2) {
  border: none;
}
.fdb-main-container > div > div:nth-child(2) {
  padding: 20px;
  background-color: var(--bg-extra-light);
}
.fdb-main-container > div > div:nth-child(2) span {
  margin-right: 2px;
}
.fdb-main-container > div > div:nth-child(2) div {
  border: none;
}
.fdb-main-container > div > div:nth-child(2) .fdb-button,
button {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 2px;
}

button.pb-tool-btn {
  margin: 0;
}
