/*Well, this is crap but if you want you can order this for me jjejejejeje*/
:root {
  --bg-extra-light: #1f2130;
  --bg-light: #161824;
  --border-light: #34374c;
  --bg-black: #070a12;
  --text: #ffff;
  --accent: #24af88;
  --primary: #2888ee;
  --primary-accent: #303b54ce;
  --fdb-indent: var(--bg-extra-light);
  --light-light: #222b47;
  --m-gradient: linear-gradient(
    180deg,
    var(--primary) 0%,
    rgb(17, 74, 197) 100%
  );
  --m-gradient-active: linear-gradient(
    180deg,
    rgb(53, 170, 254) 0%,
    rgb(48, 76, 215) 100%
  );
  --b-gradient: linear-gradient(
    180deg,
    var(--primary-accent) 0%,
    rgb(75, 82, 109) 100%
  );
  --b-gradient-active: linear-gradient(
    0deg,
    var(--primary-accent) 0%,
    rgba(148, 142, 198, 0.526) 100%
  );
  --c-gradient: linear-gradient(
    0deg,
    rgba(253, 29, 51, 1) 17%,
    rgba(252, 69, 148, 1) 100%
  );
  --c-gradient-active: linear-gradient(
    0deg,
    rgb(253, 29, 74) 17%,
    rgba(255, 122, 166) 100%
  );
  --g-gradient: linear-gradient(
    180deg,
    rgb(58, 240, 170) 17%,
    rgb(28, 121, 128) 100%
  );
  --g-gradient-active: linear-gradient(
    0deg,
    rgb(58, 240, 170) 17%,
    rgb(28, 121, 128) 100%
  );
}
body{
  color: var(--text);
}
::-webkit-scrollbar-track {
  background: var(--bg-black) !important;
  height: 2px;
  padding: 10px !important;
}
::-webkit-scrollbar-thumb {
  padding: 10px !important;
  background: var(--primary) !important;
  height: 5px !important;
  border-radius: 100px;
  border: 2px solid var(--bg-black);
}
::-webkit-scrollbar {
  height: 10px;
  padding: 5px !important;
  border-radius: 100px;
}
/* buttons */
.fdb-button-base,
.fdb-button, div.button, div.div.button {
  background: var(--b-gradient);
  color: var(--text);
  cursor: pointer;
  border-color: var(--border-light);
}
.fdb-button:hover,
.fdb-button-base:hover, div.div.button:hover {
  background: var(--m-gradient);
  border-color: var(--primary);
}

.fdb-button-red-hover {
  background: var(--b-gradient);
  border-color: var(--border-light);
  color: var(--text);
  cursor: pointer;

}
.fdb-button-green-hover{
  background: var(--b-gradient);
  color: var(--text);
  border-color: var(--border-light);
}
.fdb-button-green-hover:hover{
  background: var(--g-gradient);
  border-color: #24af88;
}
.fdb-button-red-hover:hover {
  background: var(--c-gradient-active);
  border-color: #f36d87;
  color: var(--text);
  cursor: pointer;

}
button.fdb-button-green.fdb-button-red-hover {
  background: var(--g-gradient);
  border-color: #24af88;
  cursor: pointer;
}
button.fdb-button-green.fdb-button-red-hover:hover {
  background: var(--c-gradient-active);
  border-color: #f36d87;
  color: var(--text);
}
button:disabled{
  background-color: #4d5262;
  color: #aaaaaa;
  border-color: #6c6f7c;
}
.fdb-button-blue {
  background: var(--m-gradient) !important;
  border-color: #1226c0;
}
.fdb-button-blue:hover {
  background: var(--m-gradient-active) !important;
}

.fdb-flex {
  margin-top: 10px;
}
.fdb-thread-preview > a:last-of-type {
  background-color: var(--primary-accent);
  color: var(--text);
}

/* Microblog */
.fdb-microblog-preview {
  background-color: transparent;
  padding: 10px;
}

.fdb-microblog {
  padding: 20px;
  background-color: transparent;
}

div:nth-child(2) > div:nth-child(5) > div {
  border-bottom-color: var(--border-light);
}

.fdb-microblog-preview .fdb-microblog {
  background-color: transparent !important;
  padding: 0 !important;
  border: none;
}

.fdb-main-container > div > .fdb-microblog-preview {
  background-color: transparent;
}

.fdb-main-container > div > div:nth-child(2) span {
  margin-right: 2px;
}

button.pb-tool-btn {
  margin: 0;

}

/*this fix the problem with the miniplayer xp*/
.fdb-thread-preview div div div {
  height: auto;
}


div.fdb-threads-pad {
  background: var(--bg-light) !important;
  padding: 10px;
  color: var(--text) !important;
}
div.fdb-threads-pad .fdb-microblog-preview {
  color: var(--text) !important;
  background-color: transparent;
  border-bottom-color: var(--border-light);
}

div.fdb-microblog-preview:hover {
  background-color: var(--bg-extra-light);
}

div.fdb-tab-row {
  border-bottom: 1px solid var(--border-light) !important;
}

.fdb-main-container:nth-child(1) span {
  color: #ffffff !important;
}
.fdb-tab {
  border-radius: 5px;
  margin-right: 5px;
  background-color: #fff;
}

.fdb-text-subtle {
  color: #9196b5;
}
.fdb-main-container > div:nth-child(2) > div:nth-child(1) {
  background-color: transparent;
}

.fdb-discover:nth-child(1) {
  margin-left: 50px;
  margin-right: 50px;
}
.fdb-center-content {
  background-color: var(--bg-black);
}
body > div:nth-child(4) {
  background-color: var(--bg-black);
  /* background-image: url('https://i.imgur.com/g1rdba2.png');*/
  background-size: fit;
  background-position: center;
}
/*
.fdb-center-content{
  padding-top: 10px!important;
}*/
.fdb-main-container {
  background-color: var(--bg-light);
}

/*DISCOVER Right main content*/
.fdb-discover:nth-child(3) {
  visibility: none;
  opacity: 0;
}

/*See more*/
a:nth-child(12) {
  display: flex;
  margin-left: 10px;
  justify-content: center !important;
  text-align: center;
  align-items: center;
  color: #ffff;
  text-shadow: none;
}
/* DISCOVER ACCOUNTS NEW USERS CONTAINER */
.fdb-discover:nth-child(1) {
  /* border: 1px solid #2c5272 ;*/
  border: none;
  width: 10;
  padding-right: 0;
  background-color: var(--bg-extra-light);
}
/* New users */
.fdb-discover:nth-child(1) h1 {
  border: 1px solid #2c5272;
  color: #ffff;
  display: flex;
  height: 60px;
  width: 100%;
  background: var(--m-gradient);
  text-shadow: none;
  border-radius: 5px;
  padding-left: 10px;
  justify-content: start;
  align-items: center;
}

.fdb-discover-account span {
  color: #ffffff;
  font-weight: 800;
  font-size: 14px;
  text-shadow: none;
}

.fdb-discover-account span:nth-child(2) {
  color: var(--text) !important;
  text-shadow: none;
  font-weight: 300;
}

.fdb-discover-account > img {
  outline: none;
  height: 40px;
  width: 40px;
  box-shadow: 0px 10px 20px #262a45;
}

.fdb-discover-account {
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
}
/* INDEX */
.fdb-index-box {
  background-color: var(--bg-extra-light);
  color: #c2c9ed !important;
  border: 1px solid var(--border-light) !important;
}
.fdb-index-box a {
  color: var(--primary) !important;
}
/* EPIC HEADER */
.fdb-hamburger > div {
  height: 3px;
}
.fdb-hamburger {
  margin-top: 10px;
}
.fdb-header {
  justify-content: center;
  color: #ffff;
  padding: 0.5rem;
  background: var(--m-gradient);
  /*background: linear-gradient(174deg,rgba(199, 80, 147, 1) 0%, rgba(154, 28, 166, 1) 100%);
  */
}
.fdb-mobile {
  z-index: 20;
}
.fdb-header > div:nth-child(2) {
  flex-grow: 0.83 !important;
}

.fdb-thread-preview-header {
  background-color: transparent;
}

/* POSTS RECENT MAIN PAGE*/
.fdb-thread-preview {
  background-color: var(--bg-extra-light);
  margin-top: 20px;
  border-radius: 2px;
  border: 1px solid var(--border-light) !important;
}
hr {
  opacity: 0.2;
}
.fdb-thread-preview > div > div {
  color: var(--text) !important;
  border-bottom: 1px solid var(--border-light) !important;
}
.fdb-thread-preview > div > div:last-of-type{
  border-bottom: none;
}

/* PLAYER */
.fdb-thread-preview .pb-player,
.fdb-microblog-preview .pb-player {
  margin-bottom: 10px !important;
  overflow: hidden;
  height: 50% !important;
  width: 300px !important;
  box-sizing: border-box;
  object-fit: center !important;
  transition: all 0.2s ease-in-out;
}

.fdb-thread-preview .pb-player:active,
.fdb-microblog-preview .pb-player:active {
  width: 500px !important;
  transition: all 0.2s ease-in-out;
}
.pb-player img {
  height: 100% !important;
  width: 100% !important;
}

.fdb-threads-pad:nth-child(5) {
  background-color: var(--bg-light);
}

.fdb-main-container > div:nth-child(3) {
  background-color: var(--bg-light);
}
.fdb-main-container > div:nth-child(1) > span:last-of-type {
  color: var(--text);
}

h1 {
  color: var(--text);
}

/* Divs of profiles */
.fdb-indent {
  color: var(--text);
  background-color: var(--bg-extra-light);
}
.fdb-indent > div > div {
  color: #c2c9ed;
  border-bottom-color: var(--border-light) !important;
}
.fdb-indent > div > div {
  border-bottom-color: var(--border-light);
}

/* Follows you green color */
.fdb-main-container
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(2)
  > span:nth-child(6) {
  color: var(--accent) !important;
}

/* Profile followers / following numbers */
.fdb-main-container > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) a {
  color: var(--primary);
}
/* Profile flex grow, transparent background */
.fdb-main-container > div:nth-child(1) > div:nth-child(2) {
  background-color: transparent;
}
/* Profile banner padding bottom */
.fdb-main-container > div:nth-child(1) {
  background-color: transparent;
  padding-bottom: 10px;
}
/* tab row reply */
#reply .fdb-tab-row {
  border-radius: 5px;
  background-color: var(--bg-light);
}
/*Profile text*/
.fdb-main-container > div:nth-child(3) > h2,
p {
  color: var(--text);
}
.fdb-main-container > div:nth-child(2) {
  color: var(--text);
}
.fdb-main-container
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(2)
  > span:first-of-type {
  color: var(--text);
}

a.noselect.fdb-tab {
  background-color: transparent;
  margin-bottom: 10px;
}

.fdb-tab-active {
  background-color: var(--bg-extra-light);
  border: 1px solid var(--border-light) !important;
  border-bottom: none;
  padding-top: 5px;
  margin-bottom: 5px;
  color: var(--text);
}

div.fdb-tab-row {
  background-color: transparent;
  padding-top: 10px;
  height: 30px;
}

div.noselect.fdb-tab,
span.noselect.fdb-tab {
  background-color: transparent;
}

div.fdb-mdedit-preview {
  background-color: var(--bg-light);
  border: none;
}

.fdb-main-container > div:nth-child(2) {
  background-color: transparent;
}
.fdb-main-container > div:nth-child(2) > div:last-child {
  background-color: var(--bg-light);
}

.fdb-main-container > div:nth-child(2) > div {
  border-bottom-color: var(--border-light);
}

div.noselect.fdb-tab-active {
  background-color: var(--bg-extra-light);
  border: none;
}

/*nav*/
@media screen and (max-width: 1000px) {
  .fdb-header .fdb-header-links {
    box-sizing: border-box;
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 1100;
    width: 100%;
    background-color: #101010;
    display: none;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
  }
}
.fdb-avatar-frame > img:last-of-type {
  z-index: 200;
  border: none;
}
