/*Well, this is crap but if you want you can order this for me jjejejejeje*/
:root {
  --bg-extra-light: #1f2130;
  --bg-light: #161824;
  --border-light: #34374c;
  --bg-black: #070a12;
  --text: #ffff;
  --accent: #24af88;
  --primary: #2888ee;
  --primary-accent: #19253e;
  --fdb-indent: var(--bg-extra-light);
  --light-light: #222b47;
  --m-gradient: linear-gradient(
    174deg,
    rgba(53, 154, 232, 1) 0%,
    rgba(32, 95, 212, 1) 100%
  );
}

::-webkit-scrollbar-track {
  background: var(--bg-black) !important;
  height: 2px;
  padding: 10px !important;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  padding: 10px !important;
  background: var(--primary) !important;
  height: 5px !important;
  border-radius: 100px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 5px !important;
  border-radius: 100px;
}
.fdb-microblog-preview {
  background-color: var(--bg-extra-light) !important;
  border: 1px solid var(--border-light);
  padding: 10px;
  margin-bottom: 5px;
}
.fdb-flex{
  margin-top: 10px;
}
.fdb-thread-preview > a:last-of-type{
  background-color: var(--primary-accent);
  color: var(--text);
}

.fdb-microblog {
  padding: 20px;
  background-color: var(--bg-extra-light);
  border: 1px solid var(--border-light);
}
div:nth-child(2) > div:nth-child(5) > div {
  border-bottom-color: var(--border-light);
}
.fdb-microblog-preview .fdb-microblog {
  background-color: transparent !important;
  padding: 0 !important;
  border: none;
}

.fdb-main-container > div > .fdb-microblog-preview {
  background-color: var(--bg-extra-light) !important;
}

.fdb-main-container > div > div:nth-child(2) span {
  margin-right: 2px;
}

.fdb-main-container > div > div:nth-child(2) .fdb-button,
button {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 2px;
}

button.pb-tool-btn {
  margin: 0;
}
/*this fix the problem with the miniplayer xp*/
div div div {
  height: auto;
}

div.pb-play-btns {
  margin-bottom: 0;
}

div.fdb-threads-pad {
  background: var(--bg-light) !important;
  padding: 10px;
  color: var(--text) !important;
}
div.fdb-threads-pad .fdb-microblog-preview {
  color: var(--text) !important;
  background-color: transparent;
  border: 1px solid var(--border-light);
  margin-bottom: 20px;
}

.fdb-tab-row {
  border-bottom: 1px solid var(--border-light) !important;
}

.fdb-main-container:nth-child(1) span {
  color: #ffffff !important;
}
.fdb-tab {
  border-radius: 5px;
  margin-right: 5px;
  background-color: #fff;
}

.fdb-text-subtle {
  color: #9196b5;
}
.fdb-main-container > div:nth-child(2) > div:nth-child(1) {
  background-color: transparent;
}

.fdb-discover:nth-child(1) {
  margin-left: 50px;
  margin-right: 50px;
}
.fdb-center-content {
  background-color: var(--bg-black);
}
body > div:nth-child(4) {
  background-color: var(--bg-black);
 /* background-image: url('https://i.imgur.com/g1rdba2.png');*/
  background-size: fit;
  background-position: center;
}
/*
.fdb-center-content{
  padding-top: 10px!important;
}*/
.fdb-main-container {
  background-color: var(--bg-light);
}

/*DISCOVER Right main content*/
.fdb-discover:nth-child(3) {
  visibility: none;
  opacity: 0;
}

/*See more*/
a:nth-child(12) {
  display: flex;
  margin-left: 10px;
  justify-content: center !important;
  text-align: center;
  align-items: center;
  color: #ffff;
  text-shadow: none;
}
/* DISCOVER ACCOUNTS NEW USERS CONTAINER */
.fdb-discover:nth-child(1) {
  /* border: 1px solid #2c5272 ;*/
  border: none;
  width: 10;
  padding-right: 0;
  margin-top: 20px;
  background-color: var(--bg-extra-light);
}
/* New users */
.fdb-discover:nth-child(1) h1 {
  border: 1px solid #2c5272;
  color: #ffff;
  display: flex;
  height: 60px;
  width: 100%;
  background: var(--m-gradient);
  text-shadow: none;
  border-radius: 5px;
  padding-left: 10px;
  justify-content: start;
  align-items: center;
}

.fdb-discover-account span {
  color: #ffffff;
  font-weight: 800;
  font-size: 14px;
  text-shadow: none;
}

.fdb-discover-account span:nth-child(2) {
  color: var(--text) !important;
  text-shadow: none;
  font-weight: 300;
}

.fdb-discover-account > img {
  outline: none;
  height: 40px;
  width: 40px;
  box-shadow: 0px 10px 20px #262a45;
}

.fdb-discover-account {
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
}
/* INDEX */
.fdb-index-box {
  background-color: var(--bg-extra-light);
  color: #c2c9ed !important;
  border: 2px solid var(--border-light) !important;
}
.fdb-index-box a {
  color: var(--primary) !important;
}
/* EPIC HEADER */
.fdb-header {
  justify-content: center;
  padding: 5px;
  color: #ffff;
  background: var(--m-gradient)
  /*background: linear-gradient(174deg,rgba(199, 80, 147, 1) 0%, rgba(154, 28, 166, 1) 100%);
  */
}

.fdb-header > div:nth-child(2) {
  flex-grow: 0.83 !important;
}

.fdb-thread-preview-header {
  background-color: transparent;
}

/* POSTS RECENT MAIN PAGE*/
.fdb-thread-preview {
  background-color: var(--bg-extra-light);
  margin-top: 20px;
  border-radius: 2px;
  border: 1px solid var(--border-light) !important;
}
hr {
  opacity: 0.2;
}
.fdb-thread-preview > div > div {
  color: var(--text) !important;
  border-bottom: 1px solid var(--border-light) !important;
}

/* PLAYER */
.fdb-thread-preview .pb-player,
.fdb-microblog-preview .pb-player {
  margin-bottom: 10px !important;
  overflow: hidden;
  height: 50% !important;
  width: 300px !important;
  box-sizing: border-box;
  object-fit: center !important;
  transition: all 0.2s ease-in-out;
}

.fdb-thread-preview .pb-player:active,
.fdb-microblog-preview .pb-player:active {
  width: 500px !important;
  transition: all 0.2s ease-in-out;
}
.pb-player img {
  height: 100% !important;
  width: 100% !important;
}

.fdb-threads-pad:nth-child(5) {
  background-color: var(--bg-light);
}

.fdb-main-container > div:nth-child(3) {
  background-color: var(--bg-light);
}


h1 {
  color: var(--text);
}

div div div,
span {
  color: var(--text);
}

.fdb-indent {
  background-color: var(--bg-extra-light);
}
.fdb-indent > div > div {
  color: #c2c9ed;
  border-bottom-color: var(--border-light) !important;
}
/* Follows you green color */
.fdb-main-container
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(2)
  > span:nth-child(6) {
  color: var(--accent) !important;
}

.fdb-main-container > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) a {
  color: var(--primary);
}
.fdb-main-container > div:nth-child(1) > div:nth-child(2) {
  background-color: transparent;
}
.fdb-main-container > div:nth-child(1) {
  background-color: transparent;
  padding-bottom: 10px;
}

a.noselect.fdb-tab {
  background-color: transparent;
  margin-bottom: 5px;
}

span.noselect.fdb-tab-active {
  background-color: var(--bg-extra-light);
  border: 1px solid var(--border-light);
  border-bottom: none;
  margin-bottom: 5px;
  padding-top: 5px;
}

div.fdb-tab-row {
  background-color: transparent;
  padding-top: 10px;
}

div.noselect.fdb-tab,
span.noselect.fdb-tab {
  background-color: transparent;
}

div.fdb-mdedit-preview {
  background-color: var(--bg-light);
  border: none;
}

.fdb-main-container > div:nth-child(2) {
  background-color: transparent;
}
.fdb-main-container > div:nth-child(2) > div:last-child {
  background-color: var(--bg-light);
}

.fdb-main-container > div:nth-child(2) > div {
  border-bottom-color: var(--border-light);
}

div.noselect.fdb-tab-active {
  background-color: var(--bg-extra-light);
  border: none;
}

.fdb-indent > div > div {
  border-bottom-color: var(--border-light);
}
